In [1]:
from google.colab import drive # Import a library named google.colab
drive.mount('/content/drive', force_remount=True) # mount the content to the directory `/content/drive`

%cd /content/drive/MyDrive/Tensorflow_Practice
# !mkdir HW13     # I HAVE MADE IT.

Mounted at /content/drive
/content/drive/MyDrive/Tensorflow_Practice

In [22]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [23]:
import pandas as pd 
df = pd.read_csv("carprices.csv")
df.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [24]:
df.columns = ["Car_Model", "Mileage", "Sell_Prices", "Age"]

In [27]:

dummies = pd.get_dummies(df.Car_Model)
dummies.head()

   Audi A5  BMW X5  Mercedez Benz C class
0        0       1                      0
1        0       1                      0
2        0       1                      0
3        0       1                      0
4        0       1                      0

In [28]:
merged = pd.concat([dummies, df], axis = 'columns' )
merged.head()

   Audi A5  BMW X5  Mercedez Benz C class Car_Model  Mileage  Sell_Prices  Age
0        0       1                      0    BMW X5    69000        18000    6
1        0       1                      0    BMW X5    35000        34000    3
2        0       1                      0    BMW X5    57000        26100    5
3        0       1                      0    BMW X5    22500        40000    2
4        0       1                      0    BMW X5    46000        31500    4

In [29]:
final = merged.drop(['Car_Model'], axis = 'columns')
final.head()

   Audi A5  BMW X5  Mercedez Benz C class  Mileage  Sell_Prices  Age
0        0       1                      0    69000        18000    6
1        0       1                      0    35000        34000    3
2        0       1                      0    57000        26100    5
3        0       1                      0    22500        40000    2
4        0       1                      0    46000        31500    4

In [30]:
from sklearn.linear_model import LinearRegression 
model = LinearRegression()

In [34]:
X = final.drop(['Sell_Prices'], axis='columns')
Y = final.Sell_Prices

In [39]:
model.fit(X, Y)
predict_parameters = [[1,0,0,50000,1]]
model.predict(predict_parameters)
acc = model.score(X, Y)
print(acc)

0.9417050937281083

In [43]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
dfle = df 
dfle.Car_Model = le.fit_transform(dfle.Car_Model)
dfle.head()

   Car_Model  Mileage  Sell_Prices  Age
0          1    69000        18000    6
1          1    35000        34000    3
2          1    57000        26100    5
3          1    22500        40000    2
4          1    46000        31500    4

In [49]:
X = dfle.drop('Sell_Prices', axis="columns")
Y = dfle.Sell_Prices
model.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [50]:
acc = model.score(X, Y)
print(acc)

0.8719970367825953